<% provide(:title, 'Home') %>
<div id="TitleBox">
        <iframe width="640" height="360" src="http://www.youtube.com/embed/ngAPkCoIAzQ?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
</div>
<div id="Content">
    <div class="MainBox">
        Poop poop video poop
    </div>
</div>
